<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<%def name="title()">
<title>OpenTrigger-简化你的生活</title>
</%def>
<%def name="content_head()">
<div class="main_content">
    <div id="menu">
        <ul class="lava_lamp" >
            <img src="/static/pic/ot.png" width="30px" height="30px">
            <li>
                <a href="/">HomePage</a>
            </li>
            <li>
                <a href="/channels">Channels</a>
            </li>
            <li>
                <a href="/tasks">Tasks</a>
            </li>
        </ul>
    </div>
</div>
</%def>

<%def name="content_tail()">
<div class="content_tail">
    <div class="main_content">
        <div class="yudun1989">
            <img src="/static/pic/yudun1989.png">
        </div>
    </div>
</div>
</%def>

<%def name="content_body()">
<div class="main_content content_body">
</div>
</%def>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    ${self.title()}
    <link type="text/css" rel="stylesheet" href="/static/css/core.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lavalamp.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.1.1.js"></script>
    <script type="text/javascript">
        $(function(){$(".lava_lamp").lavaLamp({fx:"backout",speed:700})});
    </script>
</head>
<body>
${self.content_head()}
${self.content_body()}
${self.content_tail()}
</body>
</html>

