<%inherit file="base.html"/>
<%def name="content_body()">
<div class="main_content">
<div class="my_channel">
<a><img  src="${channel.pic_url(size = 310)}"/></a>
</div>
<div class="my_channel_desc">
    <div class="my_channel_desc_title">${channel.cname}</div>
    <div class="my_channel_desc_content_outer">
    <pre class="my_channel_desc_content">${channel.desc}</pre>
    </div>
    %if channel_info:
    <span>您已激活此服务</span>
    <div class="button">
        <a href="${channel.reactive_url()}">重新激活</a>
    </div>
    %else:
    <div class="button">
        <a href="${channel.reactive_url()}">激活</a>
    </div>
    %endif
</div>
</div>
</%def>