<%inherit file="base.html"/>
<%def name="content_body()">
<%!from library.auth import get_user%>
<div class="main_content content_body">
    <div class="trigger_desc">
        <div class="trigger_desc_box" style="height: 300px;">
            <div class="trigger_desc_title">
                channels
            </div>
            <div class="trigger_desc_content">
                channels are some unique service you use everyday
                just like
                <br>
                <br>
                <div class="box_item">
                    <img src="/static/pic/channels/gmail_on110.png">
                    </img>
                    <span>
                        gmail
                    </span>
                </div>
                <div class="box_item">
                    <img src="/static/pic/channels/gtalk_on110.png">
                    </img>
                    <span>
                        gtalk
                    </span>
                </div>
                <div class="box_item">
                <img src="/static/pic/channels/weather_on110.png">
                </img>
                    <span>
                        weather
                    </span>
                </div>
            </div>
        </div>
        <div class="trigger_desc_box">
            <div class="trigger_desc_title">
                tasks
            </div>
            <div class="trigger_desc_content">
                after you've active your channels,you can do some amazing tasks
            </div>
        </div>
        <%real_user = get_user()%>
        %if real_user:
        <div class="button">
            you've logined as ${real_user.mail} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/logout"> Logout</a>
        </div>
        %else:
        <div class="button">
            <a href="/login">Now Login</a>
        </div>
        %endif
    </div>
</div>
</%def>