<%inherit file="base.html"/>
<%def name="content_body()">
<div class="main_content">
    <div class="login_input">
        <form method="post">
            <label for="mail">Email</label><input type="text" name="mail" id="mail"><br>
            <label for="password">Password</label><input type="password" name="password" id="password"><br>
            <input class="button" type="submit" value="Login">
        </form>
    </div>
</div>
</%def>