<%inherit file="base.html"/>
<%def name="content_body()">
<div class="main_content">
    <%!from model.channel_task import ChannelTask%>
    <div style="margin: auto;text-align: center;">
    if
    <form method="post">
    <select name="from_task">
        <%from_tasks = ChannelTask.from_tasks()%>
        %for i in from_tasks:
        <option value="${i.id}">
            ${i.channel_task}
        </option>
        %endfor
    </select>
    then
    <select name="to_task">
        <%to_tasks = ChannelTask.to_tasks()%>
        %for i in to_tasks:
        <option value="${i.id}">
            ${i.channel_task}
        </option>
        %endfor
    </select>
        <input type="submit" value="添加任务">
    </form>
    <br>
    </div>


    <div style="margin-top: 30px;text-align: center;">
        my all tasks(${len(tasks)})
        <table border="1px solid black;" style="margin: auto;">
            %for i in tasks:
            <tr>
                <td>
                     如果   ${i.from_task.channel_task}   那么  ${i.to_task.channel_task}
                </td>
                <td>
                    <form method="post">
                    <input type="hidden" name="remove" value="${i.id}">
                    <input type="submit" value="remove">
                    </form>
                </td>
            </tr>
            %endfor
        </table>
    </div>
</div>
</%def>∂