
<%def name="box_item(url,name,imgurl)">
    <div class="box_item">
        <a href="${url}">
        <img src="${imgurl}" alt="${name}">
        </img>
        </a>
        <span>${name}</span>
    </div>
</%def>

<%def name="channel_box(channels)">
<div class="channel_box">
%for channel in channels:
${box_item(channel.url(),channel.name,channel.pic_url())}
%endfor
</div>
</%def>