<%inherit file="base.html"/>
<%def name="content_body()">
<div class="main_content">
    <div class="my_channel">
        <a><img  src="${channel.pic_url(size = 310)}"/></a>
    </div>
    <div class="my_channel_desc">
        <div class="my_channel_desc_title"></div>
        <div class="my_channel_desc_content_outer">
            <div class="my_channel_desc_content">
                <form method="post">
                    %if result:
                    <span>新浪微博服务已激活 :)</span>
                    %else:
                    <span><a href="/channels/3">新浪微博激活失败。请重新激活</a></span>
                    %endif
                    <br>
                    <input class="button" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
</%def>
