<%inherit file="base.html"/>
<%def name="content_body()">
<div class="main_content">
    <div class="my_channel">
        <a><img  src="${channel.pic_url(size = 310)}"/></a>
    </div>
    <div class="my_channel_desc">
        <div class="my_channel_desc_title"></div>
        <div class="my_channel_desc_content_outer">
            <div class="my_channel_desc_content">
            <pre>
                输入您的手机号码(仅支持中国移动)
            </pre>
                <form method="post">
                    <span>请输入手机号码</span>
                    %if result:
                    已激活手机号码，请重新输入以进行更改<br>
                    <input type="text" name="sms_number" value="${result.info}">
                    %else:
                    未进行手机号码设置请输入以激活<br>
                    <input type="text" name="sms_number" value="">
                    %endif
                    <br>
                    <input class="button" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
</%def>
