<%inherit file="base.html"/>
<%def name="content_body()">
<div class="main_content">
    <div class="my_channel">
        <a><img  src="${channel.pic_url(size = 310)}"/></a>
    </div>
    <div class="my_channel_desc">
        <div class="my_channel_desc_title"></div>
        <div class="my_channel_desc_content_outer">
            <div class="my_channel_desc_content">
            <pre>
                请输入您的城市名称(中文或者英文),以激活天气服务
            </pre>
                <form method="post">
                    <span>请输入城市名称</span>
                    %if result:
                    已激活城市名称，请重新输入以进行更改<br>
                    <input type="text" name="city_name" value="${result.info}">
                    %else:
                    未激活任何城市，请输入城市英文名称以进行激活。<br>
                    <input type="text" name="city_name" value="">
                    %endif
                    <br>
                    <input class="button" type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
</%def>
