body {
    background: none repeat scroll 0 0 #f9f9f9;
    font-family: 'Droid Sans', Arial, Verdana, sans-serif
}
a{
    color: black;
}
a:hover{
    color: black;
}
.main_content{
    width: 950px;
    margin: auto;
}
.content_body{
    height: 750px;
}
.content_head{
    height: 100px;
    margin: auto;
}
.content_tail{
    background-color: white;
    height: 150px;
    clear:both;
    margin-top: 50px;
}
#menu{
    height: 65px;
    background: url("/static/pic/menu-bg.png") no-repeat center;
    width: 1000px;
}
#menu img{
    display: inline;
    float: left;
    margin-left: -90px;
    margin-top: 13px;
}

.lava_lamp{
    margin-left: 100px;
}

.lava_lamp ul{
    margin-bottom: 20px;
}

.lava_lamp li{
    float: left;
    list-style: none;
    line-height: 42px;
    height: 38px;
    margin-right: 100px;
    margin-top: 10px;
}

.lava_lamp li a{
    text-decoration: none;
    position: relative;
    z-index: 2;
    color: black;
}
.lava_lamp li a:hover{
    color: black;
}
.lava_lamp li.back {
    background-color: white;
    position: absolute;
    z-index: 1;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.lava_lamp li.back .left{
    margin-top: 10px;
    margin-bottom: 10px;
}

.yudun1989{
    margin: auto;
    width: 100px;
    height: 100px;
}
.channel_box{
    width: 750px;
    margin: 50px auto;
    overflow: hidden;
}

.box_item{
    width: 110px;
    height: 130px;
    margin-left: 50px;
    float: left;
}


.box_item img{
}

.box_item span{
    width: 110px;
    text-align: center;
    display: block;
}
.my_channel{
    margin-left: 100px;
    margin-top: 150px;
    float: left;
}
.my_channel a{
    text-shadow: 0px 0px 1px #000;            /*文字阴影效果*/
    -webkit-transform: rotate(-10deg);                /*文字歪曲10度*/
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transition:all 0.2s ease-in; /*动画为0.2s,ease-in效果*/
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.my_channel a:hover{
    text-shadow:0px 1px 1px #333;
    -webkit-transform: rotate(0deg) scale(1.1);    /*动画为旋转至水平,放大1.4倍*/
    -moz-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    -transform: rotate(0deg) scale(1.1);
}

/*http://yu123.me/2010/10/css3-blog/ css3 is cool*/

.my_channel_desc{
    width: 450px;
    height: 500px;
    float: left;
    margin-left: 30px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.my_channel_desc_title{
    text-align: center;
    line-height: 20px;
    height: 20px;
}
.my_channel_desc_content_outer{
    width: 450px;
    height: 400px;
}
.my_channel_desc_content{
    margin-top: 10px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;

}
.button{
    text-align: center;
    margin: auto;
    border: 1px solid #EBEBEB !important;
    border-radius: 10px 10px 10px 10px;
    color: #474747 !important;
    font-weight: normal !important;
    padding: 5px 7px !important;
    line-height: 40px;
    text-shadow: -1px 2px 3px gray;
}
.login_input{
    margin: auto;
    width: 500;
    height: 200;
    border: 1px solid #EBEBEB !important;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.trigger_desc{
    width: 700px;
    margin: auto;
}
.trigger_desc_box{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid gray;
}
.trigger_desc_title{
    font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", Georgia;
    font-weight: bold;
    font-style: italic;
    font-size: 46px;
    color: gray;
}
.trigger_desc_content{
    font-size: 20px;
}